.bas{
    position: relative;
    top: -8px;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}
.bas a{
    text-decoration: none;
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2%;
    font-size: 13px;
}
.bas a:hover{
    color: #000;
}