.nos_actions .titre_general{
    margin-top: 100px;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E3001B;
    left: 3%;
}

.nos_actions .sep_cr_gen{
    position: relative;
    width: 50%;
    left: calc(3% - 25%);
    border: none;
    height: 3px;
    border-radius: 8px;
    background-color: #c9c9c9;
    top: -20px;
    transition: background-color 0.5s;
}

.nos_actions .sep_cr_gen:hover{
    background-color: #E3001B;
    
}


.nos_actions .par{
    display: flex;
    flex-direction: row;
    height: 200px;
    transition: height 0.2s,
                background-color 0.2s;
}

.nos_actions .par img{
    height: 200px;
    z-index: -1;
    transition: height 0.2s;
}
.nos_actions .par:hover{
    height: 250px;
    background-color: rgba(255, 255, 255, 0.384);
}
.nos_actions hr{
    border: none;
    position: relative;
    background-color: #c4c4c4;
    border-radius: 10px;
    height: 1px;
}


@media (max-width: 799px){

    .nos_actions .par{
        justify-content: center;
        align-items: center;
    }
    .nos_actions .description{
        display: none;
    }
    .nos_actions .par .titre{
        position: absolute;
        font-size: 20px;
        width: 200px;
        color: #E3001B;
        text-align: center;
        font-weight: 600;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .nos_actions .par .une_chaine{
        margin-top: -40px;
    }
    .nos_actions .par .urgence_et_secourisme{
        margin-top: -20px;
    }
    
    .nos_actions hr{
        width: 60%;
    }

    .nos_actions .par img{
        opacity: 0.5;
    }
}






@media (min-width: 800px){
    .nos_actions .par img{
        opacity: 0.5;
        margin-left: 3%;
    }
    .nos_actions .txt{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nos_actions .txt .titre{
        width: 200px;
        position: absolute;
        font-size: 25px;
        color: #E3001B;
        font-weight: 600;
        margin-left: -200px;
    }
    
    .nos_actions .txt .description{
        position: relative;
        font-size: 15px;
        color: #474747;
        margin-left: 10px;
        margin-right: 7%;
    }
    .nos_actions hr{
        width: 90%;
    }
}