.menu{
    position: relative;
    margin-right: -14px;
    display: flex;
    flex-direction: row;
    left: -8px;
    top: -8px;
    height: 61px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo{
    display: inline;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.logo img{
    margin-left: 10px;
    margin-bottom: -5px;
    position: relative;
    height: 60px;
}
.lien{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.lien .t-barres{
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2%;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px 4px 5px 9px;
    border-radius: 0px;
    transition: color 0.2s,
                font-size 0.2s,
                border-radius 0.2s,
                background-color 0.2s;
}
.lien .t-barres:hover{
    color: #fff;
    background-color: #E3001B;
    border-radius: 10px;
}

.lien a{
    text-decoration: none;
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2%;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px 9px 7px 9px;
    border-radius: 0px;
    transition: color 0.2s,
                font-size 0.2s,
                border-radius 0.2s,
                background-color 0.2s;
}
.lien a:hover{
    color: #FFF;
    background-color: #E3001B;
    border-radius: 40px;
}


.menu_option{
    position: absolute;
    display: none;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    background-color: #fff;
    z-index: 100;
    right: -1px;
    top: 60px;
    text-align: center;
    border-radius: 0 0 0 8px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.137);

}
.menu_option a{
    text-decoration: none;
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px 9px 7px 9px;
    border-radius: 0px;
    transition: color 0.2s,
                font-size 0.2s,
                border-radius 0.2s,
                background-color 0.4s;
}
.menu_option a:hover{
    color: #FFF;
    background-color: #E3001B;
    border-radius: 40px;
}



.lien .close_menu{
    color: #474747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 2%;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px 9px 5px 9px;
    border-radius: 0px;
    transition: color 0.2s,
                font-size 0.2s,
                border-radius 0.2s,
                background-color 0.2s;
}
.lien .close_menu:hover{
    color: #fff;
    background-color: #E3001B;
    border-radius: 10px;
}



@media (max-width: 549px ) and (min-width: 500px) {
    .lien a{
        font-size: 15px;
    }
    .lien a:hover{
        font-size: 17px;
    }
    .lien .close_menu{
        display: none;
    }
    .lien .t-barres{
        display: none;
    }
    .menu_option{
        display: none;
    }
}
@media (min-width: 550px) {
    .lien a{
        font-size: 20px;
    }
    .lien a:hover{
        font-size: 22px;
    }
    .lien .close_menu{
        display: none;
    }
    .lien .t-barres{
        display: none;
    }
    .menu_option{
        display: none;
    }
}
@media (max-width: 499px) {
    .lien a{
        display: none;
    }
    .lien .t-barres{
        font-size: 20px;
        cursor: pointer;
    }
    .lien .t-barres:hover{
        font-size: 22px;
    }
    .lien .close_menu{
        font-size: 20px;
        cursor: pointer;
    }
    .lien .close_menu:hover{
        font-size: 22px;
    }
    .menu_option a{
        font-size: 15px;
    }
    .lien .close_menu{
        display: none;
    }
}